
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header h2">
            <!-- Message will be inserted here -->
            {{appTitle}}
        </div>
        <div class="card-body">
            <p class="card-text">{{message}}</p>
        </div>
        <div class="card-footer">
            <button onclick="window.history.back()" class="btn btn-info btn-block">Go back</button>
            {{!-- <a href="/next" class="btn btn-primary btn-block">Next</a> --}}
        </div>
    </div>
</div>

